{% extends 'main/base.html' %}

{% block content %}
<section class="list-model">
    <div class="container">
        <h1>
            Связь тарифов и услуг.
        </h1>
        <table class="table">
            <tr>
                <th style="text-align: center;">
                    Тариф
                </th>
                <th style="text-align: center;">
                    Услуга
                </th>
            </tr>
            {% for mod in model %}
            <tr>
                <td style="text-align: center;">
                    {{mod.0}}
                </td>
                <td style="text-align: center;">
                    {{mod.1}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}