{% extends 'main/base.html' %}

{% block content %}

<section class="query-filial">
    <div class="container">
        <button type="submit" class="btn btn-primary mb-3" id="filial-type">Узнать какой филиал берет тип номера</button>
        <button type="submit" class="btn btn-primary mb-3" if="unpopular-filial">Самый не популярный филиал</button>
    </div>
</section>

<section class="list-model">
    <div class="container">
        <table class="table">
            <tr>
            {% for field in name_fields %}
                <th style="text-align: center;">
                    {{field}}
                </th>
            {% endfor %}
            </tr>
            {% for model in models %}
            <tr>
                <td style="text-align: center;">
                    {{model.filial_id}}
                </td>
                <td style="text-align: center;">
                    {{model.title}}
                </td>
                <td>
                    {{model.address}}
                </td>
                <td>
                    {{model.phone}}
                </td>
                <td>
                    {{model.email}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}