{% extends 'main/base.html' %}

{% block content %}

<section class="queries-rooms">
    <div class="container">
        <button type="submit" class="btn btn-primary mb-3" id="occupancy-rate">Процент заполняемости</button>
        <button type="submit" class="btn btn-primary mb-3" id="birthday">Дни рождения</button>
        <button type="submit" class="btn btn-primary mb-3" id="popular-type-number">Самый популярный тип номера</button>
    </div>
</section>

<section class="list-model">
    <div class="container">
        <table class="table">
            <tr>
            {% for field in name_fields %}
                <th style="text-align: center;">
                    {{field}}
                </th>
            {% endfor %}
            </tr>
            {% for model in models %}
            <tr>
                <td style="text-align: center;">
                    {{model.room_id}}
                </td>
                <td style="text-align: center;">
                    {{model.number}}
                </td>
                <td>
                    {{model.type_number}}
                </td>
                <td>
                    {{model.busy}}
                </td>
                <td>
                    {{model.client}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}